<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_12._2_Binding_and_the_DataGridView.Properties.Settings.hotelConnectionString"
            connectionString="user id=root;password=root;server=localhost;persistsecurityinfo=False;database=hotel;allowuservariables=True"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>